

<!DOCTYPE html>
<html>
<head>
	<title>Website Shortener</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="static/css/style.css">
<nav>
	<div class="topnav">
  		<a class="active" href="/">Home</a>
  		<a href="/login">Profile</a>
  		<a href="/about">About</a>
  		<a id="login-button" href="/login">Login</a>
	</div>s
</head>
<body>
<center>
<h1> This is a link shortener! </h1>
<h4> Ever wanted to share a link with someone in real life and couldn't because the link was too long? This solves that problem! Just go to home and enter your link and send it! </h4>
</center>
</body>

</html>